%h1 Listing wallets

%table
  %thead
    %tr
      %th Account
      %th Balance
      %th
      %th
      %th

  %tbody
    - @wallets.each do |wallet|
      %tr
        %td= wallet.account_id
        %td= wallet.balance
        %td= link_to 'Show', wallet
        %td= link_to 'Edit', edit_wallet_path(wallet)
        %td= link_to 'Destroy', wallet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Wallet', new_wallet_path
